
main {
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    color: black;
}
.info {
    text-align: left;
    margin-top: 20px;
}
.info p {
    font-size: 16px;
    margin: 5px 0;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.back-link:hover {
    background-color: #0056b3;
}